*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-app{
    height: 589px;
    width: 100%;
}

a {
  color: #f2f4f7;
  text-decoration: none;
}

a:hover {
  color: #858686;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.contenedor-principal-items{
  position: absolute;
  left: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
