
    <a href="#" class="nav-link text-white dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bars text-white mx-1"></i> Home</a>
 
  <div class="contenedor-sidebar dropdown-menu dropdown-menu-dark text-small shadow">
    
      <div class="d-flex justyfi-content-center">
        <img
          class="mx-2 rounded"
          src="https://dummyimage.com/200x70/0861f2/fffaaa"
        />
      </div>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="dropdown-item">
          <a href="#" class="nav-link text-white" aria-current="page">Maestros </a>
        </li>
        <hr style="width: 100%; color: rgb(248, 242, 242); height: 1px; background-color:rgb(253, 249, 249);" />
        <li class="dropdown-item">
          <a href="#" class="nav-link text-white"> Module 1</a>
        </li>
         <hr style="width: 100%; color: rgb(248, 242, 242); height: 1px; background-color:rgb(253, 249, 249);" />
        <li class="dropdown-item">
          <a href="#" class="nav-link text-white"> Module 2 </a>
        </li>
         <hr style="width: 100%; color: rgb(248, 242, 242); height: 1px; background-color:rgb(253, 249, 249);" />
        <li class="dropdown-item">
          <a href="#" class="nav-link text-white"> Module 3 </a>
        </li>
        <hr style="width: 100%; color: rgb(248, 242, 242); height: 1px; background-color:rgb(253, 249, 249);" />
      </ul>
    </div>
  
   

